@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professional @ViewData["Professional"].</p>

<adress>
    <strong>More information: </strong> <a href="https://github.com/lucasLochte/curso-git">My portflio Git</a>
</adress>
